html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  text-align: center; 
} 

body {
  background-color: hsl(213, 44%, 95%);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

form {
   margin-bottom: 3rem; 
}

input {
  background-color: hsl(202, 10%, 88%);
  border: solid 2px hsl(213, 9%, 19%);
  height: 2rem;
  width: 30%;
  font-size: 1rem;
}

button {
  height: 2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
}



#list {
  display: flex; 
  flex-direction: column;
  margin: auto;  
  width: 80%; 
  background-color: hsl(213, 20%, 95%);
  }

  .list_item {
    padding: 0 1rem;
  }

  .list_title {
    font-weight: 700;
  }

  .list_profile a {
    padding: 0 0.5rem;
    margin: auto;
  }

  .list_profile {
    text-align: left;
    display: flex; 
    justify-content: space-between;
  }

  .list_profile:nth-child(4), .list_profile:nth-child(6) {
    margin-right: 1em;
  }
  
  .list_profile:not(:last-child){
    margin-bottom: 1rem;
  }

  .list_image {
    margin: 1rem auto;
    width: 60%;
  }


@media screen and (min-width: 500px) {
  .list_item {
    border: solid 3px hsl(213, 9%, 19%);
    display: grid; 
    grid-template-rows: 4rem 3fr;
    grid-template-columns: 50% 50%;
    margin-bottom: 2.5rem;
  
  }
  
  .list_content {
    grid-area: 2 / 2 / 3 / 3;
    margin: auto;
  }
  
  .list_image {
    grid-area: 1 / 1 / 3 / 1;
    margin: 1rem auto;
    width: 40%;
    padding: 10% 0;
  }

  .list_profile {
    height: 7rem;
    border: solid 3px hsl(213, 9%, 19%);
    overflow-y: scroll;
  }

  .list_profile p {
    margin: auto;
  }
  
}

@media screen and (min-width: 500px) {
  .list_content {
    margin-top: 10%;
  }

}
